/*
 * Customize Bootstrap
 */
 
.m0{ margin: 0px !important }
.m5{ margin: 5px !important }
.m10{ margin: 10px !important }
.m15{ margin: 15px !important }
.m20{ margin: 20px !important }
.m25{ margin: 25px !important }
.m30{ margin: 30px !important }
.m35{ margin: 35px !important }
.m40{ margin: 40px !important }

.ml0{ margin-left: 0px !important }
.ml5{ margin-left: 5px !important }
.ml10{ margin-left: 10px !important }
.ml15{ margin-left: 15px !important }
.ml20{ margin-left: 20px !important }
.ml25{ margin-left: 25px !important }
.ml30{ margin-left: 30px !important }
.ml35{ margin-left: 35px !important }
.ml40{ margin-left: 40px !important }

.mr0{ margin-right: 0px !important }
.mr5{ margin-right: 5px !important }
.mr10{ margin-right: 10px !important }
.mr15{ margin-right: 15px !important }
.mr20{ margin-right: 20px !important }
.mr25{ margin-right: 25px !important }
.mr30{ margin-right: 30px !important }
.mr35{ margin-right: 35px !important }
.mr40{ margin-right: 40px !important }

.mt0{ margin-top: 0px !important }
.mt5{ margin-top: 5px !important }
.mt10{ margin-top: 10px !important }
.mt15{ margin-top: 15px !important }
.mt20{ margin-top: 20px !important }
.mt25{ margin-top: 25px !important }
.mt30{ margin-top: 30px !important }
.mt35{ margin-top: 35px !important }
.mt40{ margin-top: 40px !important }
 
.p5{ padding: 0px !important }
.p5{ padding: 5px !important }
.p10{ padding: 10px !important }
.p15{ padding: 15px !important }
.p20{ padding: 20px !important }
.p25{ padding: 25px !important }
.p30{ padding: 30px !important }
.p35{ padding: 35px !important }
.p40{ padding: 40px !important }

.pl0{ padding-left: 0px !important }
.pl5{ padding-left: 5px !important }
.pl10{ padding-left: 10px !important }
.pl15{ padding-left: 15px !important }
.pl20{ padding-left: 20px !important }
.pl25{ padding-left: 25px !important }
.pl30{ padding-left: 30px !important }
.pl35{ padding-left: 35px !important }
.pl40{ padding-left: 40px !important }

.pr0{ padding-right: 0px !important }
.pr5{ padding-right: 5px !important }
.pr10{ padding-right: 10px !important }
.pr15{ padding-right: 15px !important }
.pr20{ padding-right: 20px !important }
.pr25{ padding-right: 25px !important }
.pr30{ padding-right: 30px !important }
.pr35{ padding-right: 35px !important }
.pr40{ padding-right: 40px !important }

.pt0{ padding-top: 0px !important }
.pt5{ padding-top: 5px !important }
.pt10{ padding-top: 10px !important }
.pt15{ padding-top: 15px !important }
.pt20{ padding-top: 20px !important }
.pt25{ padding-top: 25px !important }
.pt30{ padding-top: 30px !important }
.pt35{ padding-top: 35px !important }
.pt40{ padding-top: 40px !important }

.flr { float: right !important}

.w100 {width: 100% !important}